<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accueil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
<div class="center-on-page">
  
  <div class="pokeball">
    <div class="pokeball__button"></div>
  </div>
  
</div>
<h1 style="text-align: center;">Bienvenue sur le site des Pokémons !</h1>
<h3>Vous trouverez tous les Pokémons de la première génération ! </h3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3 style="color:cyan; text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;">Projet présenté par Clément Stancato</h3>

</ion-content>
